// .blog{
// 	position: fixed;
// 	display: block;
// 	top:0;
// 	left: 0;
// 	right: 0;
// 	height: 50px;
// 	background-color: #ffffff;
// 	z-index: 100000;
// }

.loading{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #06a7f2;
	// display: none;
	img{
		position: absolute;
		top:50%;
		left: 50%;
		display: block;
		width: 106px;
		height: 120px;	
		margin-top: -120px;
		margin-left: -53px;
	}
	span{
		position: absolute;
		top:50%;
		left: 0;
		display: block;
		width: 100%;
		height: 30px;
		font-size: 14px;
		color: #ffffff;	
		text-align: center;
	}
}
video{
	display: none;
}
.musicOpen,
.musicClose{
	position: fixed;
	display: none;
	top:0.2rem;
	right: 0.3rem;
	width: 0.68rem;
	height: 0.68rem;
	z-index: 1999;
}
.musicOpen{
	-webkit-animation: change 2s linear infinite;
	-moz-animation: change 2s linear infinite;
	-o-animation: change 2s linear infinite;
	animation: change 2s linear infinite;
}
@-webkit-keyframes change {
	0% {-webkit-transform: rotate(0deg);}	
	100% {-webkit-transform: rotate(360deg);;}
}

@-moz-keyframes change {
	0% {-moz-transform: rotate(0deg);}	
	100% {-moz-transform: rotate(360deg);}
}

@-o-keyframes change {
	0% {-o-transform: rotate(0deg);}	
	100% {-o-transform: rotate(360deg);}
}

@keyframes change {
	0% {transform: rotate(0deg);}	
	100% {transform: rotate(360deg);}
}



.share{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 2000;
	display: none;
	img{
		position: absolute;
		top:0;
		left: 0;
		display: block;
		width: 100%;
		height: auto;
	}
}
.container{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
@media screen and (min-width:500px) {
	.container{
		max-width: 500px;
		max-height: 890px;
		margin: 0 auto;
		left: 50%;
		margin-left: -250px;

	}
}

.page{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #06a7f2;
}


// -----  第一页  -----------
.main{
	display: none;
	width: 100%;
	background-image: url(http://obbbnmuwc.bkt.clouddn.com/main-back.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	img{
		position: absolute;
		height: 100%;
		width: auto;
		top:0;
	}
	.btn_start{
		position: absolute;
		display: block;
	}
}

// 问题
.question{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #06a7f2;
}
.question-title{
	position: absolute;
	top: 0.7rem;
	padding: 0 1.5rem; 
	width: 5.05rem;
	left: 50%;
	margin-left: -2.52rem;
	&:before{
		position: absolute;
		display: block;
		content: "";
		width:1.88rem;
		height: 1.37rem;
		top:0;
		left: 0;
		background-image: url(http://obbbnmuwc.bkt.clouddn.com/glas-left.png);
		background-size: 100% 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.question-no{
		width: 2.05rem;
		height: 1.34rem;
	}
	&:after{
		position: absolute;
		display: block;
		content: "";
		top:0;
		right: 0;
		width:1.88rem;
		height: 1.37rem;
		background-image: url(http://obbbnmuwc.bkt.clouddn.com/glas-right.png);
		background-size: 100% 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}

.question-text{
	top:2.25rem;
	left: 50%;
}
.question-gif{
	width: auto;
	height: 100%; 
	left: 0;
	top:0;
}
.qestion-a,
.qestion-b,
.qestion-c{
	width: 5.72rem;
	height: 1.3rem;
	left: 50%;
	margin-left: -2.86rem;
}
.qestion-a{
	bottom: 3.34rem;
}
.qestion-b{
	bottom: 1.95rem;
}
.qestion-c{
	bottom:0.5rem;  
}

// -----  问题详情    -----------
.question-1,
.question-2,
.question-3,
.question-4,
.question-5,
.question-6{
	display: none;	
	img{
		position: absolute; 
		display: block;
	}
}
.question-1{
	// display: block;
	.question-text{
		width:6.76rem;
		height: 1.81rem; 
		margin-left: -3.38rem;
	}
}

.question-2{
	.question-text{
		width:5.96rem;
		height: 1.87rem; 
		margin-left: -2.98rem;
	}
}
.question-3{
	.question-text{
		width:4.68rem;
		height: 1.95rem; 
		margin-left: -2.34rem;
	}
}
.question-4{
	.question-text{
		width:4.28rem;
		height: 1.92rem; 
		margin-left: -2.14rem;
	}
}

.question-5{
	.question-text{
		width:6.38rem;
		height: 1.89rem; 
		margin-left: -3.19rem;
	}
}

.question-6{
	.question-text{
		width:4.79rem;
		height: 2rem; 
		margin-left: -2.39rem;
	}
}
// -----  结果    -----------
.result{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.result-head{
	top:0.5rem;
	left: 50%;
}
.result-title{
	position: absolute;
	top: 2.23rem;
	width: 7.18rem;
	height: 1.63rem;
	left: 50%;
	margin-left: -3.59rem;
	background-image: url(http://obbbnmuwc.bkt.clouddn.com/r-1-g.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	.result-title-text{
		top:0.5rem;
		display: block;
		left: 50%;
	}
}
.result-gif{
	width: auto;
	height: 100%; 
	left: 0;
	top:0;
}
.result-award{
	bottom: 2.75rem;
	left: 50%;
	margin-left:-3.26rem;
	width: 6.52rem;
	height: 2.99rem; 
}
.btn-box{
	position: absolute;
	bottom: 1.6rem;
	width: 5.56rem;
	height: 1.04rem;
	left: 50%;
	margin-left: -2.78rem;
	.result-share{
		position: relative;
		float: left;
		width: 2.78rem;
		height: 1.04rem;
	}
	.result-again{
		position: relative;
		float: left;
		width: 2.78rem;
		height: 1.04rem;
	}
}

.result-shop{
	bottom: 0.5rem;
	width: 5.56rem;
	height: 1.04rem;
	left: 50%;
	margin-left: -2.78rem;
}

// -----  结果详情    -----------
.result-1,
.result-2,
.result-3,
.result-4{
	display: none;	
	img{
		position: absolute; 
		display: block;
	}
}
.result-1{
	background-color: #a0db4a;
	// display: block;	
	.result-head{
		width:5.8rem;
		height: 2.2rem; 
		margin-left: -2.9rem;
	}
	.result-title{
		.result-title-text{
			width: 4.5rem;
			height: 0.57rem;
			margin-left: -2.25rem;
		}
	}	
}
.result-2{
	background-color: #19b3fa;
	// display: block;	
	.result-head{
		width:6.79rem;
		height: 1.76rem; 
		margin-left: -3.39rem;
	}
	.result-title{
		.result-title-text{
			top:0.6rem;
			width: 3.19rem;
			height: 0.56rem;
			margin-left: -1.6rem;
		}
	}	
}
.result-3{
	background-color: #f8a23d;
	// display: block;
	.result-head{
		width:7.10rem;
		height: 1.88rem; 
		margin-left: -3.55rem;
	}
	.result-title{
		.result-title-text{
			width: 4.34rem;
			height: 0.22rem;
			margin-left: -2.17rem;
		}
	}		
}
.result-4{
	background-color: #dc362e;
	// display: block;
	.result-head{
		width:5.17rem;
		height: 1.89rem; 
		margin-left: -2.58rem;
	}	
	.result-title{
		background: none;
		left: 0;
		margin:0;
		width: 100%;
		height: 1.95rem;
		.result-title-text{
			top:0;
			width: 7.18rem;
			height: 1.95rem;
			left: 50%;
			margin-left: -3.59rem;
		}	
	}		
}